html {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

body {
    height: auto;
    overflow-y: hidden;
    font-size: 13px;
    -webkit-font-smoothing: auto;
    background-image: url(https://st2.depositphotos.com/2069237/7412/v/600/depositphotos_74127691-stock-video-man-walking-in-office-buiding.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
}
  
#body-content, #heading-content {
    display: flex;
    justify-content: center;
    color: white;
}
  
#heading-content {
    font-size: 30px;
    text-align: center;
}

#update-options {
    display: flex;
    justify-content: space-around;
}

#cancel-update {
    margin-right: 10px;
}

#update {
    margin-left: 10px;
}

.is-centered {
    display: flex;
    justify-content: center;
}

.container {
    margin-left: 30px;
    margin-right: 30px;
}
  
.form-wrapper {
    background-color: rgb(56, 56, 56, 0.8);
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 10px;
}
  
.form-group {
    margin: 50px 50px 50px 50px;
}

.field-group {
    margin-bottom: 15px;
}
  
.styled-input {
    padding: 10px 0 10px 10px;
    width: 100%;
    border-radius: 10px;
}
  
.is-title {
    font-size: 25px;
}

.styled-button {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    width: 100%;
    color: #4CAF50;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    border: 3px solid #4CAF50;
    background-color: white;
}

.input-field-wrapper {
    display: flex;
}
  
.button {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.button-primary {
    color: white;
    background-color: #4CAF50;
    border: none;
}

.button-ghost {
    color: #4CAF50;
    background-color: white;
    border: 3px solid #4CAF50;
}

a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
a:active {
    color: black;
    text-decoration: none;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.button-wrapper {
    display: flex;
    justify-content: space-around;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    #result-table {
        overflow: hidden;
    }
    #table-wrapper {
        overflow-x: auto;
    }
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}